<launch>

<rosparam file="$(find a_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="a" args="Revolute 18_position_controller Revolute 19_position_controller Revolute 20_position_controller Revolute 21_position_controller Revolute 22_position_controller Revolute 23_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/a/joint_states"/>
</node>

</launch>